@use "bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

/* header */
.w-5 {
    width: 25px;
    height: 25px;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    width: 100%;
    background-color: $secondary_color;
    z-index: 10000;

    & > .nav-header {
        display: inline;
    }

    & > .nav-btn {
        display: none;
    }

    & > .nav-links {
        display: inline;
        float: right;
        font-size: 18px;

        & a {
            display: inline-block;
            padding: 13px 10px 13px 10px;
            text-decoration: none;
            color: white;

            & > a:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
    }

    & > #nav-check {
        display: none;
    }

    & > .logo {
        background-size: 125%;
        background-repeat: no-repeat;
        background-color: #3b3b3b;
        background-position: center;
        background-image: url("../img/logo_deliveboo_xs.png");
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        top: 20%;
        left: calc(50% - 50px);
    }
}

.sidebar {
    height: 100vh;
    background-color: $secondary_color !important;

    * {
        color: black !important;
    }
}

.dashboardJumbo {
    background-image: url("https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg");
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: gray;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
}

@media (max-width: 992px) {
    .nav {
        & > .logo {
            height: 75px;
            width: 75px;
        }

        & > .nav-btn {
            display: inline-block;
            position: absolute;
            right: 0px;
            top: 0px;

            & > label {
                display: inline-block;
                width: 50px;
                height: 50px;
                padding: 13px;

                & > span {
                    display: block;
                    width: 25px;
                    height: 10px;
                    border-top: 2px solid #eee;
                }
            }
        }

        & > .nav-links {
            position: absolute;
            display: block !important;
            width: 100%;
            background-color: #333;
            height: 0px;
            transition: all 0.3s ease-in;
            overflow-y: hidden;
            top: 50px;
            left: 0px;

            & > div > a {
                display: block;
                width: 100%;
                color: #eee;
            }
        }

        & > #nav-check:not(:checked) ~ .nav-links {
            height: 0px;
        }

        & > #nav-check:checked ~ .nav-links {
            height: calc(100vh - 425px);
            overflow-y: auto;
        }
    }

    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

/* header */

/* Footer */

footer {
    background-color: $brand_color;
    width: 100%;

    & .footer-info > span:hover {
        color: $secondary_color;
        padding-left: 18px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }

    .social {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: #6e6c6c;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 1rem;

        & .fab {
            font-size: 1.5rem;
            color: white;
        }

        &:hover {
            background-color: $secondary_color;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }
    }
}

/* Footer */

/* Form */
.card-header {
    background-color: rgb(254 206 44 / 40%);
}

#loading_image {
    background-image: url("../img/placeholder/loading_checkout.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 99.7vh;
    display: none;
}
