@use "bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";
/* 
************************************************************************************************** */
/* .category-card {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
    height: 7.5rem;
    aspect-ratio: 4/3;
  }
  .category-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    label {
      background-color: #fece2c;
      box-shadow: -5px 6px 0px 1px #3b3b3b;
      -webkit-box-shadow: -5px 6px 0px 1px #3b3b3b;
      border-radius: 0;
      padding: 0.2rem 0.8rem;
      color: #3b3b3b;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
    }

    input.categories {
      display: none;
    }

    input.categories:checked + label {
      color: #fece2c;
      background-color: #3b3b3b;
      box-shadow: -5px 6px 0px 1px #fece2c;
      -webkit-box-shadow: -5px 6px 0px 1px #fece2c;
    }
  }
}

.risotranti-disponibili {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.titolo-ristorante {
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.line {
  height: 5px;
  width: 140px;
  background-color: #fece2c;
  align-items: center;
  margin-top: 15px;
}

.restaurant-card {
  width: 235px;
  height: 270px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  overflow: hidden;

  a {
    color: #fff;
    text-decoration: none;

    img {
      width: 235px;
      height: 270px;
      border-radius: 5px;
      object-fit: cover;
      transition: 0.3s ease;
      filter: brightness(0.8);
    }

    .restaurant-info {
      h4 {
        transition: 0.4s ease;
        width: 100%;
        position: absolute;
        left: 50%;
        bottom: -2rem;
        transform: translateX(-50%);
        text-align: center;
        line-height: 10.8rem;
      }
      .desc {
        padding: 0 1.5rem;
        transition: 0.4s ease;
        position: absolute;
        left: 0;
        bottom: -12rem;
        color: #fff;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &:hover img {
      transform: scale(1.2);
      overflow: hidden;
      object-fit: cover;
      object-position: center;
      filter: blur(1px) brightness(0.4);
    }

    &:hover h4 {
      bottom: 9rem;
    }

    &:hover .desc {
      bottom: 1rem;
    }
  }
} */




/*
First Section 
 ******************************************************************************************************* */
.jumboContainer {
    height: calc(100vh - 15vh);
    
    .jumboVideo {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: calc(100vh - 15vh);
    }

    h1.text-capitalize.Title {
    font-size: 4.5em;
    width: 70%;
    padding: 1rem 0.5rem;
    background-color: $secondary_color;
    box-shadow: -20px 22px 0px 7px $brand_color;
-webkit-box-shadow: -20px 22px 0px 7px $brand_color;
-moz-box-shadow: -20px 22px 0px 7px $brand_color;
}
}





/* CARD ANIMATA */

